<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Please Sign In</title>
</head>
<body>
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
    <form action="/signin" method="post">
        <legend>Please sign in</legend>
        <p><input name="username" placeholder="Username" value="{{username}}"></p>
        <p><input name="password" placeholder="Password" type="passwrod"></p>
        <p><button type="submit">Sign In</button> </p>
    </form>
</body>
</html>